/ed/EdVetoresAula1Ex01/nbproject/private/
/ed/EdVetoresAula1Ex01/build/
/ed/EdVetoresAula1Ex02/nbproject/private/
/ed/EdVetoresAula1Ex02/build/
/ed/EdVetoresAula1Ex03/nbproject/private/
/ed/EdVetoresAula1Ex03/build/
/ed/EdVetoresAula1Ex03/dist/
/ed/EdVetoresAula1Ex01CondicSimples/nbproject/private/
/ed/EdVetoresAula1Ex01CondicSimples/build/
/ed/EdVetoresAula1Ex04CondicComposta/nbproject/private/
/ed/EdVetoresAula1Ex04CondicComposta/build/
/ed/EdVetoresAula2Ex01/nbproject/private/
/ed/EdVetoresAula2Ex01/build/
/ed/EdVetoresAula2Ex02/nbproject/private/
/ed/EdVetoresAula2Ex02/build/
/ed/aula02-vetores/EdVetoresAula2Ex03/nbproject/private/
/ed/aula02-vetores/EdVetoresAula2Ex03/build/
/ed/EdVetoresAula2Ex04/nbproject/private/
/ed/aula02-vetores/EdVetoresAula2Ex04/nbproject/private/
/ed/aula02-vetores/EdVetoresAula2Ex04/build/
/ed/aula02-vetores/EdVetoresAula2Ex04/dist/
/ed/aula02-vetores/EdVetoresAula2Ex05/nbproject/private/
/ed/aula02-vetores/EdVetoresAula2Ex05/build/
/pp/ProjetoWAR/nbproject/private/
/ed/EdOrdenacaoBolha/nbproject/private/
/ed/EdOrdenacaoBolha/build/
/ed/EdOrdenacaoBolha/dist/
/as/Funcionalidade_Vinicius/nbproject/private/
/as/Funcionalidade_Vinicius/build/
/as/Singleton_EmpresaSetorColab/nbproject/private/
/pp/JavaApplication26/nbproject/private/
/pp/SingletonEmpresaSetorColab/nbproject/private/
/pp/EdOrdenacaoEx2Mediana/nbproject/private/
/ed/metodos-ordenacao/EdOrdenacaoEx2Mediana/build/
/as/Funcionalidade_Vinicius/build.xml
/as/Funcionalidade_Vinicius/manifest.mf
/as/Funcionalidade_Vinicius/nbproject/
/pp/SinlgetonMatheus/nbproject/private/
/pp/SinlgetonMatheus/build/
/aps/ProjetoMVC_ViniciusAraujoLopes/nbproject/private/
/aps/ProjetoMVC_Vinicius/nbproject/private/
/aps/ProjetoMVC_Vinicius/build/
/aps/ProjetoMVC_Vinicius/dist/
/aps/AppCamadas/nbproject/private/
/aps/PhpProject1/nbproject/private/
/pp/SingletonEmpresaSetorColab/build/
/pp/2_Decorator_2020_2/2_Decorator_2020_2/ProjetoDecoratoCarro/build/
/pp/2_Decorator_2020_2/2_Decorator_2020_2/ProjetoDecoratoCarro/dist/
/pp/2_Decorator_2020_2/2_Decorator_2020_2/ProjetoDecoratoCarro/nbproject/private/
/pp/3_TemplateMethod_2020_2/3_TemplateMethod_2020_2/ExemploEmJava/ProjetoComTemplateMethod/build/
/pp/3_TemplateMethod_2020_2/3_TemplateMethod_2020_2/ExemploEmJava/ProjetoComTemplateMethod/nbproject/private/
/pp/3_TemplateMethod_2020_2/3_TemplateMethod_2020_2/ExemploEmJava/ProjetoSemTemplateMethod/build/
/pp/3_TemplateMethod_2020_2/3_TemplateMethod_2020_2/ExemploEmJava/ProjetoSemTemplateMethod/nbproject/private/
/pp/SingletonEmpresaSetorColab/dist/
/aps/JavaApplication33/nbproject/private/
/aps/JavaApplication33/build/
/pp/SingletonEmpresaSetorColaborador/nbproject/private/
/pp/SingletonEmpresaSetorColaborador/build/
/aps/Padrao_MVC (2)/build/
/aps/Padrao_MVC (2)/dist/
/aps/Padrao_MVC (2)/nbproject/private/
/pp/SingletonEmpresaSetorColaborador/dist/
/ed/metodos-ordenacao/EdOrdenacaoParte2Ex1/nbproject/private/
/ed/metodos-ordenacao/EdOrdenacaoParte2Ex1/build/
/pp/EdOrdenacaoParte2Ex2/nbproject/private/
/ed/metodos-ordenacao/EdOrdenacaoParte2Ex2/nbproject/private/
/aps/CadUserDesk/nbproject/private/
/aps/CadUserDesk/build/
/aps/Imagens/nbproject/private/
/aps/Imagens/build/
/aps/SalvaImagem/build/
/aps/SalvaImagem/dist/
/aps/SalvaImagem/nbproject/private/
/aps/MiniaturaApsCamadas/nbproject/private/
/aps/ApsCamadasMiniatura/nbproject/private/
/ed/BotandoPilha/nbproject/private/
/ed/BotandoPilha/build/
/ed/Ex3PilhaDePessoas/nbproject/private/
/ed/Ex3PilhaDePessoas/build/
/aps/ApsCamadasMiniatura/build/
/aps/ApsCamadasMiniatura/dist/
/ed/TemplateTeste/nbproject/private/
/ed/TemplateTeste/build/
/pp/PpOrdenacaoTemplate/nbproject/private/
/pp/PpOrdenacaoTemplate/build/
/pp/PpOrdenacaoTemplate/dist/
/pp/PpSingletonDecoratorTemplateColaborador/nbproject/private/
/pp/PpSingletonDecoratorTemplateColaborador/build/
/pp/ProjetoAdapter/nbproject/private/
/pp/ProjetoAdapter/build/
/pp/PpSingletonDecoratorTemplateColaborador/dist/
/aps/ApsCamadasMiniaturas/nbproject/private/
/aps/ApsCamadasMiniaturas/build/
/aps/ApsCamadasMiniaturas/dist/
